@import url(./globals.css);

.FlexGrowDiv {
  max-width: 100%;
  flex-grow: 1; /* 填滿剩餘空間 */
  background-color: var(--div-background-color);
  border: var(--border-lv1);
  border-radius: 10px;
  margin: var(--margin-medium);
  padding: var(--padding-medium) var(--padding-large);
}

.FlexGrowDiv-Title {
  font-size: 30px;
  font-weight: bold;
  gap: 5px;
  margin: var(--margin-small) 0;
}

.FlexGrowDiv-Content {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: var(--margin-small);
  padding: var(--padding-small);
}

.FlexGrowDiv-Content > p{
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .FlexGrowDiv {
    padding: var(--padding-small);
  }

  .FlexGrowDiv-Title {
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
