:root {
  --div-background-color: #eeeeee;

  --div-border-lv1: 5px solid #888888;
  --div-border-lv2: 3px solid #888888;
  --div-border-lv3: 1px solid #888888;

  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;

  --margin-small: 5px;
  --margin-medium: 15px;
  --margin-large: 25px;
}

*{
    padding: 0;
    margin: 0;
}


body {
  height: 100dvh;
  width: 100dvw;
}

.s1{
    padding: var(--padding-medium) var(--padding-large);
}



@media (max-width: 768px) {
    .s1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 0;
  }
}
