:root {
  --background-color: #f8f8f8;

  --border-lv1: 1px solid #888888;
  --border-lv2: 3px solid #888888;
  --border-lv3: 5px solid #888888;

  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;

  --margin-small: 5px;
  --margin-medium: 15px;
  --margin-large: 25px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

section{
  width: 100%;
  display: flex;
  padding: var(--padding-medium) var(--padding-large);
}

@media (max-width: 768px) {
    
  section{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
