@import url(./globals.css);

.ProfileDiv{
    width: fit-content;
    background-color:var(--div-background-color);
    border: var(--div-border-lv1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: var(--margin-large);
    padding: var(--padding-medium) var(--padding-large);
}

.ProfileDiv-TableData{
    display: block;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.ProfileDiv-TableData-Value{
    display: block;
    color: #0080FF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}

@media (max-width: 768px) {  /* 平板與手機 */
    .ProfileDiv {
        width: 90%;
        padding-inline: var(--padding-small);
    }

    .ProfileDiv > img{
        width: 70%;
        height: auto;
    }

    .ProfileDiv > table{
        width: 90%;
    }

    .ProfileDiv-TableData{
        font-size: 14px;
    }
    
    .ProfileDiv-TableData-Value{
        font-size: 16px;
    }
}
