@import url(../globals.css);

.ContactLink {
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  white-space: nowrap;
  background-color: var(--background-color);
  border: var(--border-lv1);
  border-radius: 5px;
  padding: var(--padding-small) var(--padding-medium);
  margin: var(--margin-small);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.ContactLink:hover {
    color: #0069FF;
    text-decoration: underline;
}
