@import url(../globals.css);

.ProfileDiv-Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ProfileDiv-Image {
  border: var(--border-lv3);
  border-radius: 100%;
  width: 300px;
  height: auto;
  object-fit: contain;
}

.ProfileDiv-Table{
  margin-top: var(--margin-small);
}

.ProfileDiv-TableData-Key {
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.ProfileDiv-TableData-Value {
  display: block;
  color: #0069ff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
}

.ProfileDiv-TableData-Value > a:hover{
  text-decoration: underline;
}

@media (max-width: 768px) {
  /* 平板與手機 */
  .ProfileDiv {
    min-width: none;
    width: 90%;
    margin: var(--margin-small);
    padding: var(--padding-small) var(--padding-small);
  }

  .ProfileDiv > img {
    width: 70%;
    height: auto;
  }

  .ProfileDiv > table {
    width: 90%;
  }

  .ProfileDiv-TableData {
    font-size: 14px;
  }

  .ProfileDiv-TableData-Value {
    font-size: 16px;
  }
}
