@import url(../globals.css);

.Skill-Div{
    width: 100%;
}

.Skill-Title{
    font-size: 18px;
    font-weight: bold;
}

.Skill-Image{
    width: 60px;
    height: 60px;
}   

@media (max-width: 768px) {
    .Skill-Image{
        width: 48px;
        height: 48px;
    }    
}