@import url(../globals.css);

.Skill-Div {
  width: 100%;
}

.Skill-Title {
  font-size: 18px;
  font-weight: bold;
}

.Skill-Image {
  width: auto;
  height: 60px;
  padding: 0 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Skill-Image {
    height: 48px;
  }
}
